@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Inter:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* - Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8 */


/*
primarycolor --> #f6a123
shadeColor ---> #f08c00


*/

:root {
  --primary-color: #f6a123;
  --background-color: #212529;
  --text-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Francois One", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);

  line-height: 1;
  
  font-weight: 400;
}


.heading-secondary{
  font-size: 3rem;
}


.grid{
  display: grid;
  column-gap: 5rem;
  row-gap: 5.4rem;
}

.grid--2--col{
  grid-template-columns: 1fr 1fr;
}